.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    max-width: 60%;
    margin: 12% auto 0%;
  }
  .user-pic {
    object-fit: cover;
    width: 150px;
    height: 150px;
  }
  .edit-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .info-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }