<mat-card class="profile-card mat-elevation-z4">
  <div style="position: relative">
    <img
      mat-card-avatar
      [src]="
        this.user && this.user.imagePath
          ? this.baseUrl + this.user.imagePath
          : '../../../assets/common/defaultUser.png'
      "
      alt="user-pic"
      class="user-pic"
    />
    <button mat-mini-fab color="accent" 
    class="edit-btn" 
    (click)="handleEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div class="info-div">
    <mat-card-title>{{
      this.user?.firstName + " " + this.user?.lastName
    }}</mat-card-title>   
      <mat-card-subtitle>Član od: <strong>07.02.2025</strong></mat-card-subtitle>
      <mat-card-subtitle>Kontakt: <strong>{{this.user?.phone}}</strong></mat-card-subtitle>
    </div>
</mat-card>
  <app-feed></app-feed>
