<mat-toolbar
  color="primary"
  class="navbar"
  *ngIf="this.router.url !== '/login' && this.router.url !== '/register'"
>
  <span class="title" (click)="navigate('home')" >RASVETA</span>
  <button mat-button [matMenuTriggerFor]="menu">Kategorije</button>
  <mat-menu #menu>
    <div *ngFor="let category of categories">
      <button mat-menu-item>{{ category.name }}</button>
    </div>
  </mat-menu>
  <button mat-button (click)="navigate('saved-ads')">Sačuvani oglasi</button>
  <button mat-button (click)="navigate('myAds')">Moji oglasi</button>
  <button
    mat-button
    (click)="navigate('admin-panel')"
    *ngIf="this.user && this.user.role === 'admin'"
  >
    Admin panel
  </button>
  <div class="login-div">
    <img *ngIf="this.user" mat-card-avatar
    [src]="this.user.imagePath
        ? this.baseUrl + this.user.imagePath
        : '../../../assets/common/defaultUser.png'"
    alt=""
    style="cursor: pointer"
    (click)="navigate('myAds')"
  />
  <span class="logged-text" *ngIf="user" (click)="navigate('myAds')">
    {{ user.firstName + " " + user.lastName }}
  </span>
    <button mat-raised-button color="accent" (click)="handleLog()" style="margin-left: 15px">
      {{ user ? "Odjavi se" : "Prijavi se" }}
    </button>
  </div>
</mat-toolbar>