.cont-div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stepper-card-cont {
    width: 80%;
  }
  .form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
  }
  .txt-area {
    resize: none;
  }
  
  .img-img {
    object-fit: cover;
    width: 200px;
    height: 300px;
    margin: 10px;
    cursor: pointer;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .carousel-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carousel {
    width: 300px;
    height: auto;
  }
  .carousel-small {
    margin-top: 10px;
    width: 300px;
    height: auto;
  }
  .slide-div {
    width: 100%;
    height: 100%;
  }
  .slide-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .layout-div {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .content-div {
    margin-left: 20px;
  }
  .name-avatar-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .personal-data-div {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    margin: 10px;
  }
  .user-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }