<mat-toolbar color="primary">
    <span>RASVETA</span>
    <button mat-button [matMenuTriggerFor]="menu">Kategorija</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Kucna rasveta</button>
        <button mat-menu-item>Spoljna rasveta</button>
    </mat-menu>
    <mat-menu #menu *nfFOR="let category of categories">
        <button mat-menu-item>{{category.name}}</button>
    </mat-menu>
    <button mat-button>Sacuvani oglasi</button>
    <button mat-button>Moji oglasi</button>
    <div class="login-div">
        <span class="logged-text" *ngIf="user">
            {{ "Prijavljen kao " + user.firstName + " " + user.lastName }}
        </span>
        <button mat-raised-button color="accent" (click)="handleLog()">
            {{ user ? "Odjavi se" : "Prijavi se" }}
          </button>
    </div>

</mat-toolbar>
