<div class="login-cont">
    <mat-card class="example-card mat-elevation-z10">
      <mat-card-header>
        <mat-card-title>Prijavi se</mat-card-title>
        <mat-card-subtitle>Nemaš nalog? Registruj se</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form class="form-items">
          <mat-form-field appearance="outline">
            <mat-label>Email Adresa</mat-label>
            <input
              type="text"
              name="email"
              formControlName="email"
              matInput
              placeholder="vašemail@gmail.com"
            />
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Lozinka</mat-label>
            <mat-icon matSuffix>password</mat-icon>
            <input
              type="password"
              name="password"
              formControlName="password"
              matInput
              placeholder="******"
            />
          </mat-form-field>
          <button class="btn" mat-raised-button color="primary" (click)="handleSubmit()">
            Prijavi se
          </button>
        </form>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>