.cont-card {
    display: flex;
    width: 600px;
    height: 300px;
    padding: 0px;

    margin: 10px;
}
.header-div {
    display: flex;
    justify-content: space-between;
}
.img-div {
    width: 60%;
    height: 100%;
    background-color: grey;
    margin: 0px;
    padding: 0px;
}
.img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.add-card {
    width: 100%;
}
.desc-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 80%;
}
.price-div {
    display: flex;
    background-color: #3F51B0;
    flex-direction: column;
}