<mat-card class="cont-card mat-elevation-z4" matRipple (click)="Details()">
    <div class="img-div">
      <img [src]=" this.ad && this.ad.gallery[0]
          ? imgPath + '/' + this.ad.gallery[0]
          : '../../../assets/noImage.png'"
      alt="nesto" class="img"
    />
    </div>
    <mat-card class="add-card">
      <div class="header-div">
        <div>
          <mat-card-title> {{ ad?.title }}</mat-card-title>
          <mat-card-subtitle style="margin-bottom: 5px"  > 
            Kategorija:
            <strong>{{ ad?.category?.name }}</strong></mat-card-subtitle
          >
          <mat-card-subtitle>
            {{ ad?.brand }} </mat-card-subtitle
          >
        </div>
        <div>
          <button mat-raised-button color="primary" style="margin: 10px; ">{{ ad?.price + "€" }}</button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <mat-card-content class="desc-div">
        <p style="margin-top: 30px">
          {{ ad?.description }}
        </p>
        <button mat-raised-button color="accent" style="align-self: flex-end; margin-bottom: 2%;" (click)="Details()">
          Više informacija
        </button>
      </mat-card-content>
      <mat-card-footer> </mat-card-footer>
    </mat-card>
  </mat-card>